.env
.env.*
!.env.example

node_modules/
**/node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

dist/
build/
coverage/
.capacitor/
mobile-app/android/.gradle/
mobile-app/android/app/build/
